.footer{
    background-color: #ecf4fa;
    height: 400px;
}
  
.navigation-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-right: 200px;
 }

 .logo2{
    width: 300px;
}

.footer-link{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 50px;
}

.footer-navigation-link{
    display: block;
    margin: 0 0 10px 0;
    line-height: 14px;
    font-size: 18px;
    white-space: normal!important;
    list-style-type: none;
    color: gray;
}
